In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("..\character.csv")

In [6]:
df.head()

   author  author_fandom  story_fandom
0       1           2161          1816
1       2           2161          2161
2       2           2161          1809
3       2           2161          1809
4       2           2161          6503

In [5]:
df.columns = ['author', 'author_fandom', 'story_fandom']

In [8]:
len(df[df['author_fandom'] == df['story_fandom']]) / len(df)

0.28351441007236283